<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="de.micmun.android.miwotreff"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="de.micmun.android.miwotreff.permission.ACCESS_DB_PROVIDER"
        android:protectionLevel="normal">
    </permission>

    <uses-permission android:name="de.micmun.android.miwotreff.permission.ACCESS_DB_PROVIDER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- enable search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity"/>
        </activity>
        <activity
            android:name="de.micmun.android.miwotreff.SearchActivity"
            android:exported="false"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name="de.micmun.android.miwotreff.EditActivity"
            android:exported="false"/>
        <activity
            android:name=".SettingActivity"
            android:exported="false"/>

        <provider
            android:name="de.micmun.android.miwotreff.db.DataProvider"
            android:authorities="de.micmun.android.miwotreff.provider"
            android:permission="de.micmun.android.miwotreff.permission.ACCESS_DB_PROVIDER">
        </provider>
        <service
            android:name=".service.UpdateIntentService"
            android:enabled="true"/>
        <receiver
            android:name=".service.BootBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
